@import "tailwindcss";

@theme {
    --font-family:
        "Open Sans", "Segoe UI Light", Arial, Roboto, Oxygen-Sans, Ubuntu,
        Cantarell, "Helvetica Neue", sans-serif;

    --font-title: "Digital-7", monospace;
    --font-body: "Open Sans", "Segoe UI Light", Arial, sans-serif;
    --font-body-secondary: "Segoe UI", sans-serif;

    --line-height: 1.5;
    --font-weight: 500;

    --color-scheme: only light;
    --font-synthesis: none;
    --text-rendering: optimizeLegibility;
    --webkit-font-smoothing: antialiased;
    --moz-osx-font-smoothing: grayscale;
    --webkit-text-size-adjust: 100%;

    --color-primary: #525170;
    --color-secondary: #f5f4f2;
    --color-text: #454a54;
    --color-link: #664DCC;
    --color-link-hover: rgba(216, 138, 46, 0.9);
    --color-button: #d9dae8;
    --color-button-accent: #ECCDAC;
}

html,
body {
    margin: 0;
    padding: 0;
}

@layer base {
    body {
        font-family: var(--font-body);
        line-height: var(--line-height);
        font-weight: var(--font-weight);
        color: var(--color-text);
        background-color: var(--color-secondary);
        text-align: center;
    }

    p {
        color: var(--color-text);
        font-size: 1rem;
        font-weight: 500;
    }

    @media screen and (max-device-width: 16in) {
        p,
        button {
            font-size: 1.1rem;
        }
    }
}
