.icon-button {
    background: transparent;
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom: 5px;
    padding: 1px;
    cursor: pointer;
    border: none;
}

.icon-button:hover {
    opacity: 0.8;
}

/* .icon-button:focus {
    outline: 2px solid #5686F3;
    outline-offset: 2px;
} */
